sudo: false

language: php

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  include:
    - php: 5.6
    - php: 7.0

before_script:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer install  --prefer-dist --no-interaction

script: 
  - vendor/bin/phpunit
